:root {
    --primario: #9c27b0;
    --primario-oscuro: #89119d;
    --secundario: #ffce00;
    --secundario-oscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuente-pricipal: 'JetBrains Mono', monospace;    
}

/* GLOBALES */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {  /* hack para el model box  */
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: var(--fuente-pricipal);
    background-color: var(--primario);
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente-pricipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}

/* FOOTER */
.footer {
    background-color: var(--primario-oscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuente-pricipal);
    text-align: center;
    font-size: 2.2rem;
}

/* NAVEGACION */

.navegacion {
    background-color: var(--primario-oscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /*tambien se pueden separar a;adiendo un margen*/
}
.navegacion__enlace {
    font-family: var(--fuente-pricipal);
    color: var(--blanco);
    font-size: 3rem;
    /* margin-right: 2rem; /*esto es para separar los elementos si no se usa gap */ 
}
/* .navegacion__enlace:last-of-type { 
    margin-right: 0; /*esto es para que el ultimo elemento se que quite el margen que arriba se le coloco
} */

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* añade separacion de arriba y abajo y a los lados*/
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* PRODUCTO */

.producto {
    background-color: var(--primario-oscuro);
    padding: 1rem; 
}
/* .producto__imagen {
    width: 100%;
} */
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuente-pricipal);
    margin: 2rem 0;
    text-align: center;
    line-height: 3rem;
}

/* GRAFICO */

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* grid-column: 1 / 3; se puede quitar abajo y colocar aqui para los dos ya que en ambos se usa igual*/
}
.grafico--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
    grid-column: 1 / 3;
}
@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* NOSOTROS */

.nosotros {
    display: grid;
    
    /* grid-template-rows: repeat(2, auto); */ /* se le coloca auto para que cuando se coloque pantalla de pc las filas se acomoden, en este caso se quitan por que no tienen contenido [EN REALIDAD NO SE NECESITA HACER ESTA LINEA COMENTADA] */
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
    background-size: cover;
    /* width: 100%; */
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/* BLOQUES */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5rem;
    }
}

.bloque {
    text-align: center;
}
.bloque__titulo {
    margin: 0 auto;
}
/* .bloque__iconos {
    width: 100%;
} */

/* PAGINA DEL PRODUCTO */

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border-color: var(--primario-oscuro);
    border-width: 1rem;
    border-style: solid;
    
    /* esto de aqui abajo es lo mismo de arriba respetando el orden */
    border: 1rem solid var(--primario-oscuro);
    background-color: var(--primario)/* o se le pone transparent */;
    color: var(--blanco);
    font-family: var(--fuente-pricipal);
    font-size: 2rem;
    padding: 1rem;
    appearance: none;   /* le quita la felchita ahacia abajo de campo de seleccionar */
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuente-pricipal);
    padding: 2rem;
    font-weight: bold;
    transition: background-color .3s ease;
    /* transition: font-size .3s ease; */
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    /* font-size: 2.4rem; */
    cursor: pointer;
    background-color: var(--secundario-oscuro);
}





























