/*definir una paleta de colores*/
/*seudoelementos que no esxiten en el html, son custom properties*/

:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #00b341;
    --secundario: #0097A7;
    --gris: #757575;

    /*si quisieras tener una fuente principal, se puede*/
    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
}
/* con el codigo de arriba los rem seran 1rem = 10px*/
/* no es recomendale escribir ID(#) por que los id no se puedes repetir los nombres de los id, deben ser unicos*/

.titulo {
    text-align: center;
    font-size: 3.8rem;
    
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    /*puede recortar el margin de esta manera
      margin: 0 auto*/
    margin: 0 auto 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center; ESTE ES EL JUSTIFY-CONTENT DEL COLUMN*/
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

/*hoover hace una accion cuando el mouse esta encima del elemento, en este caso cambia el color del fondo y tambien el color del texto*/
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}



















